.case-details {
  max-width: 900px;
  margin: 40px auto;
  padding: 28px;
  background-color: #f4ede0;
  border: 2px solid #364116;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  color: #364116;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.case-details h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2a3600;
}

.case-details p {
  font-size: 1.1rem;
  margin: 8px 0;
}

.case-details strong {
  color: #181e00;
}

.case-details.error {
  color: red;
  text-align: center;
}
